
.ylanavi {
    background-color: rgb(137, 237, 5);
    color: rgb(55, 137, 3);
    height: 90px;
    margin: 0;
    border-radius: 10px;
}
h2 {
   padding: 1%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(68, 68, 68);
    border: 1px dashed darkgrey;
    border-radius: 10px;
    margin-top: 12px;
    padding: 1%;

}

ul{
    list-style-type: circle;
  }